PORT=5000
DATABASE_URL=postgresql://neondb_owner:npg_ZoH8pTmXK2CA@ep-quiet-feather-b4eitoyw-pooler.c-6.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET=cff802229122aea4c48a230ff7048d9d5427240970a4ce0dd7e4177531003a98
JWT_EXPIRES_IN=1h
CLIENT_URL=http://localhost:5173
